.container {
    display: grid;
    
}
.order {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
}
.img{
    max-width: 100%;
    width: 300px;
    height: 300px;
}
.div {
    justify-self: center;
    margin-bottom: 50px;

}
.btn {
    font-size: 1rem;
    border-radius: 5%;
}

.tlt {
    text-align: center;
    color:darkseagreen;
}
.h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: blue;
}